<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Kết xuất khai báo -->
    <!-- khai báo tới DOM bằng cách sử dụng cú pháp mẫu đơn giản: -->
    <div id="app">
        {{ message }}
      </div>

      <!-- Ngoài nội suy văn bản, chúng ta cũng có thể liên kết các thuộc tính phần tử như sau: -->
      <div id="app-2">
        <span v-bind:title="message">
          Hover your mouse over me for a few seconds
          to see my dynamically bound title!
        </span>
      </div>

      <!-- Điều kiện và vòng lặp -->
      <!-- Cũng dễ dàng chuyển đổi sự hiện diện của một phần tử: -->
      <div id="app-3">
        <span v-if="seen">Now you see me</span>
      </div>

      <!-- v-for chỉ thị có thể được sử dụng để hiển thị danh sách các mục bằng cách sử dụng dữ liệu từ Mảng: -->
      <div id="app-4">
        <ol>
          <li v-for="todo in todos">
            {{ todo.text }}
          </li>
        </ol>
      </div>

      <!-- Xử lý đầu vào của người dùng -->
      <!-- v-on này để đính kèm trình xử lý sự kiện gọi các phương thức trên các phiên bản Vue của chúng tôi: -->
      <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
      </div>

      <!-- v-modelchỉ thị giúp liên kết hai chiều giữa đầu vào biểu mẫu và trạng thái ứng dụng trở nên dễ dàng: -->
      <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
      </div>

      <!-- Sáng tác với các thành phần -->
      <div id="app-7">
        <ol>
          <!--
            Now we provide each todo-item with the todo object
            it's representing, so that its content can be dynamic.
            We also need to provide each component with a "key",
            which will be explained later.
          -->
          <todo-item
            v-for="item in groceryList"
            v-bind:todo="item"
            v-bind:key="item.id"
          ></todo-item>
        </ol>
      </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src="./main.js"></script>
</html>