<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- Nội Suy -->
    <!-- Văn bản -->
    <span>Message:: {{ msg }}</span>

    <!-- Có thể thực hiện các phép nội suy một lần (không cập nhật lại khi dữ liệu thay đổi) bằng cách sử dụng directive v-once,
    nhưng nhớ là làm như vậy sẽ ảnh hưởng đến tất cả các ràng buộc khác trên cùng một node -->
    <span v-once>This will never change: {{ msg }}</span>

    <!-- HTML Raw -->
    <!-- "The double mustaches" diễn giải dữ liệu dưới dạng văn bản thuần túy, không phải HTML. Để xuất ra HTML thực, bạn sẽ cần sử dụng v-htmlchỉ thị :-->
    <p>Using mustaches: {{ rawHtml }}</p>
    <p>Using v-html directive: <span v-html="rawHtml"></span></p>
    
     <!-- Thuộc tính HTML -->
     <!-- Không thể sử dụng "The double mustaches"  bên trong các thuộc tính HTML. Thay vào đó, hãy sử dụng một v-bindchỉ thị : -->
    <div v-bind:id="dynamicId"></div>

    <!-- Trong trường hợp các thuộc tính boolean, nơi mà sự tồn tại đơn thuần của chúng true, v-bindhoạt động hơi khác một chút. Trong ví dụ này:
    Nếu isButtonDisabledcó giá trị null, undefinedhoặc false, disabledthuộc tính thậm chí sẽ không được đưa vào <button>phần tử được hiển thị. -->
    <button v-bind:disabled="isButtonDisabled">Button</button>

    <!-- Sử dụng biểu thức JavaScript -->
    {{ number + 1 }}

{{ ok ? 'YES' : 'NO' }}

{{ message.split('').reverse().join('') }}

<div v-bind:id="'list-' + id"></div>

<!-- Directives-Chỉ thị
Ở đây, v-ifchỉ thị sẽ loại bỏ / chèn <p>phần tử dựa trên độ tin cậy của giá trị của biểu thức seen. -->
<p v-if="seen">Now you see me</p>

<!-- Arguments-Tranh luận -->
<!-- v-bindchỉ thị được sử dụng để cập nhật một cách phản ứng thuộc tính HTML: -->
<a v-bind:href="url"> ... </a>
<!-- v-onchỉ thị lắng nghe các sự kiện DOM: -->
<a v-on:click="doSomething"> ... </a>

<!-- Dynamic Arguments-Đối số động -->
<!--
bạn cũng có thể sử dụng biểu thức JavaScript trong đối số chỉ thị bằng cách đặt nó trong dấu ngoặc vuông:
-->
<a v-bind:[attributeName]="url"> ... </a>
<!-- Tương tự, bạn có thể sử dụng đối số động để liên kết trình xử lý với tên sự kiện động: -->
<a v-on:[eventName]="doSomething"> ... </a>

<!-- Modifiers-Bổ ngữ -->
<!-- Các modifier là các hậu tố đặc biệt được biểu thị bằng dấu chấm, cho biết rằng một chỉ thị nên được ràng buộc theo một cách đặc biệt nào đó. -->
<form v-on:submit.prevent="onSubmit"> ... </form>

<!-- Cú pháp rút gọn -->
    <!-- v-bind -->
       <!-- full syntax -->
<a v-bind:href="url"> ... </a>
<!-- shorthand -->
<a :href="url"> ... </a>
<!-- shorthand with dynamic argument (2.6.0+) -->
<a :[key]="url"> ... </a>

    <!-- v-on -->
       <!-- full syntax -->
<a v-on:click="doSomething"> ... </a>
<!-- shorthand -->
<a @click="doSomething"> ... </a>
<!-- shorthand with dynamic argument (2.6.0+) -->
<a @[event]="doSomething"> ... </a>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src="./main.js"></script>
</html>