<template>
  <div id="main">
    <div>
      <AppHeader />
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 bg-link sidebar d-flex">
          <AppMenu />
        </div>
        <main role="main" class="col-md-10 p-0">
          <div id="page">
            <div class="page-body">
              <div class="card">
                <h4 class="card-title">New Blog</h4>
                <div class="card-body">
                  <div class="card-item">
                    <span class="title-newpage">Tiêu đề:</span>
                    <textarea
                      v-model="item.title"
                      class="title1"
                      type="text"
                    ></textarea>
                  </div>
                  <div class="card-item">
                    <span class="title-newpage">Mô tả ngắn:</span>
                    <textarea
                      v-model="item.des"
                      class="title2"
                      type="text"
                    ></textarea>
                  </div>

                  <div class="card-item">
                    <span class="title-newpage">Chi tiết:</span>
                    <textarea
                      v-model="item.detail"
                      class="title3"
                      type="text"
                    ></textarea>
                  </div>

                  <div class="card-item">
                    <span class="title-newpage">Hình ảnh:</span>
                    <div>
                      <input class="btn-img border-0" type="file" />
                    </div>
                  </div>

                  <div class="card-item">
                    <span class="title-newpage">Vị trí:</span>
                    <div>
                      <div
                        v-for="position in ListPositon"
                        :key="position.positionId"
                        class="form-check form-check-inline"
                      >
                        <input
                          v-model="item.position"
                          class="form-check-input"
                          type="checkbox"
                          :value="position.positionId"
                        />
                        <label class="form-check-label">{{
                          position.positionName
                        }}</label>
                      </div>
                    </div>

                    <div class="card-item">
                      <span class="title-newpage">Public:</span>
                      <div>
                        <input
                          v-model="item.public"
                          type="radio"
                          value="true"
                        /><label
                          class="form-check-label m-lg-1"
                          for="inlineRadio1"
                          >Yes</label
                        >
                        <input
                          v-model="item.public"
                          type="radio"
                          value="false"
                        /><label
                          :selected="!item.public"
                          class="form-check-label m-lg-1"
                          for="inlineRadio2"
                          >No</label
                        >
                      </div>
                    </div>
                    <div class="card-item-last">
                      <div class="row">
                        <div class="col-md-6 col-last">
                          <span class="title-newpage">Loại:</span>
                          <select
                            v-model="item.category"
                            class="form-select"
                            aria-label="Default select example"
                          >
                            <option
                              v-for="category in ListCategory"
                              :key="category.categoryId"
                              :value="category.categoryId"
                            >
                              {{ category.name }}
                            </option>
                          </select>
                        </div>
                        <div class="col-md-6 col-last">
                          <span class="title-newpage">Date Public:</span>
                          <input type="date" v-model="item.data_pubblic" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="btn-submit d-flex mt-2 justify-content-center">
                <div class="m-lg-2">
                  <button
                    class="btn btn-success"
                    type="submit"
                    @click.prevent="createEditItem()"
                  >
                    Submit
                  </button>
                </div>
                <div class="m-lg-2">
                  <button
                    class="btn btn-primary"
                    type="submit"
                    @click="onClearInput()"
                    value="reset"
                  >
                    Clear
                  </button>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <div id="footer">
      <AppFooter />
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import { LIST_CATEGORY, LIST_POSITION, BASE_URL } from '@/constants/constans.js'
export default {
  props: {
    /**
     * Prop listBlogEdit
     */
    listBlogEdit: {
      type: Object,
      default: () => {},
    },

    /**
     * Prop postEdit
     */
    postEdit: {
      type: Object,
      default: () => {},
    },
  },

  /**
   * Get function data
   * @return item
   */
  data() {
    return {
      item: {
        title: '',
        des: '',
        detail: '',
        category: '',
        public: true,
        data_pubblic: '',
        position: [],
        thumbs: '',
      },
    }
  },

  watch: {
    /**
     * Watch Edit
     */
    postEdit() {
      this.item = this.postEdit
    },
  },

  computed: {
    /**
     * Computed BaseURL
     * @return BaseURL
     */
    BaseURL() {
      return BASE_URL
    },

    /**
     * Computed ListCategory
     * @return ListCategory
     */
    ListCategory() {
      return LIST_CATEGORY
    },

    /**
     * Computed ListPositon
     * @return ListPositon
     */
    ListPositon() {
      return LIST_POSITION
    },
  },

  methods: {
    /**
     * Edit button and Add Button
     * @param id
     */
    createEditItem() {
      this.item.category = parseInt(this.item.category)
      this.item.public = this.item.public === 'true'
      this.item.position = this.item.position.map((pos) => parseInt(pos))
      if (this.$route.params.id) {
        axios
          .put(`${BASE_URL}/${this.$route.params.id}`, this.item)
          .then(() => {
            setTimeout(() => {
              this.$route.push('/blogs')
            }, 1000)
            window.location.href('')
            alert('Update Sucess')
          })
          .catch((error) => alert(error))
      } else {
        axios
          .post(`${BASE_URL}`, this.item)
          .then(() => {
            this.item = {}
            setTimeout(() => {
              this.$route.push('/blogs')
            }, 1000)
            window.location.reload(true)
            alert('Add Sucess')
          })
          .catch((error) => alert(error))
      }
    },
    
    /**
     * Clear Input
     */
    onClearInput() {
      this.item = []
      window.scrollTo(0, 0)
    },
  },
}
</script>
<style >
.page-body {
  background-color: #e0d9d9b0;
  padding: 16px 8px;
  min-height: 1000px;
}

.card {
  border-radius: 5px;
}

.card-title {
  border: 1px solid #d4cece;
  padding: 16px 18px;
  background-color: #f2f2f2;
  margin-bottom: 0;
}

.card-item {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.card-item-last {
  padding: 10px 0;
}

.title-newpage {
  padding: 10px 0;
}

.title1 {
  height: 40px;
}

.title2 {
  height: 94px;
}

.title3 {
  height: 148px;
}

.btn-img {
  border: 1px solid;
  padding: 1px 6px;
  border-radius: 3px;
}

.input-last {
  display: flex;
  flex-direction: column;
}

.input-last select,
.input-last input {
  height: 40px;
}

.btn-group {
  display: flex;
  margin: 20px 0;
  justify-content: center;
}

.btn {
  min-width: 100px;
}

.col-last {
  display: flex;
  flex-direction: column;
}
</style>
