<script>
    1. DOM
        - DOM Javascript là viết tắt của chữ Document Object Model, dịch tạm ra là mô hình các đối tượng trong tài liệu HTML.
    - Thành phần
        + Element
        + Attribute
        + Text

    2. DOM Element
        - Sử dụng getElementById để tìm theo ID
    // Lấy thẻ input
    var element = document.getElementById('website');
    // Lấy giá trị của thẻ input
    document.write(element.value);

    - Sử dụng getElementsByTagName để tìm theo tên thẻ html
    // Lấy thẻ input
    var element = document.getElementsByTagName('input');

    // Lấy giá trị của thẻ input
    document.write(element[0].value);

    - Sử dụng getElementsByClassName để tìm theo tên class
    // Lấy thẻ input
    var element = document.getElementsByClassName('website');

    // Lấy giá trị của thẻ input
    document.write(element[0].value);

    - Sử dụng querySelectorAll để tìm theo CSS selector
        < html >
        <body>
            <input type="text" value="thẻ không cần lấy" class="website" />
            <div>
                <input type="text" value="Thẻ Cần Lấy" class="website" />
                <input type="text" value="thẻ không cần lấy" />
            </div>
        </body>
        </html >

        3. DOM html
            - Lấy nội dung trong thẻ HTML
    document.getElementById("content").innerHTML

        - Thay đổi nội dung
    document.getElementById("content").innerHTML = "<h1>Nội dung</h1>";

    - Lấy giá trị của thuộc tính
    document.getElementById("element").attributeName;

    -Thay đổi thuộc tính thẻ html
    document.getElementById("element").attributeName = "new value"

    4.DOM CSS
        - Thiết lập
    document.getElementById("object").style.cssName = 'something';

    - Lấy giá trị
    document.getElementById("object").style.cssName;

    - Ví dụ: Viết một chương trình gồm 4 button và 1 thẻ div, khi click vào từng button thì sẽ thiết lập màu sắc, background, chiều cao, font size của thẻ div.
    < html >
        <body>
            <script language="javascript">
                function change_background()
                {
                    document.getElementById("message").style.background = 'red';
            }
                function change_color()
                {
                    document.getElementById("message").style.color = 'blue';
            }
                function change_height()
                {
                    document.getElementById("message").style.height = '500px';
            }
                function change_font_size()
                {
                    document.getElementById("message").style.fontSize = '500px';
            }
</script>
<div id="message">
Chào mừng các bạn đến với freetuts.net
</div>
<input type="button" value="Change backgroud" onclick="change_background()" />
<input type="button" value="Change color" onclick="change_color()" />
<input type="button" value="Change height" onclick="change_height()" />
<input type="button" value="Change fontsize" onclick="change_font_size()" />
</body>
</html>

    5.DOM Nodes
    - DOM Node - document.createElement(): tạo node mới hoàn toàn 
    var p = document.createElement("p"); 

    + appendChild(): thêm Node mới vào trang web  
    document.getElementsByTagName('body')[0].appendChild(p);

    - DOM Node - document.createTextNode() 

    - Phương thức appendChild(): thêm (bổ sung) vào vị trí cuối cùng của đối tượng một thẻ HTML

    - insertBefore(node_insert, node_child): thêm một Node vào đằng trước một node con

    - removeChild(): xóa một node con ra khỏi node hiện tại

    - replaceChild(): (thay thế) một node con nào đó bằng một node khác mới hoàn toàn

    6. Sử dụng thuộc tính HTML
    


</script>