
    <script>
    1.Xử lý chuỗi (string)
        a.Khai báo biến và gán chuỗi 
        var website = "website freetuts.net học javascript quá sướng";
        var email = 'thehalfheart@gmail.com'; <br>

        //Trong chuỗi string có dấu nháy
            var message = "Học lập trình tại \"freetuts.net\" quá sướng";
            var domain = 'freetuts.net - 'web học lập trình'';

            //Dùng dấu + để nối chuỗi
            // Đúng
            var message = "Chào mừng bạn đến với"
            + "freetuts.net";

            // Sai
            var message = "Chào mừng bạn đến với
            freetuts.net";

        - Ép chuỗi: string.toString()
            // Trước khi chuyển đổi
            var number = 12;
            alert(typeof number);
            // Sau khi chuyển đổi
            number = number.toString();
            alert(typeof number);

        - Đếm số ký tự:  .length
            var txt = "freetuts.net";
            var sln = txt.length; // Kết quả 12

        - tìm kiếm một chuỗi bên trong một chuỗi khác thì dùng hàm indexOf
            var str = "Please locate where 'locate' occurs!";
            var pos = str.indexOf("locate"); // Kết quả 7

        - tìm vị trí xuất hiện cuối cùng của chuỗi con thì dùng hàm lastIndexOf
            var str = "Please locate where 'locate' occurs!";
            var pos = str.lastIndexOf("locate"); // Kết quả 21 - là vị trí locate cuối cùng

        - có thể sử dụng hàm search, nó có công dụng giống như hàm indexOf
            var str = "Please locate where 'locate' occurs!";
            var pos = str.search("locate");

2.Các hàm xử lý chuỗi
    - Cắt chuỗi
        //slice(start, end)
        var string = "Welcome to freetuts.net";
        document.write("Chuỗi cần lấy là: " + string.slice(11, 23));<br>

        //substring(start, end)
        var string = "Welcome to freetuts.net";
        document.write("Chuỗi cần lấy là: " + string.substring(11, 23));

        //substr(start, length)
        var string = "Welcome to freetuts.net";
        document.write("Chuỗi cần lấy là: " + string.substr(11, 12));

    - Tìm kiếm và lặp chuỗi :  replace(str_find, str_replace)
        var string = "Welcome to freetuts.net";
        document.write(string.replace("freetuts.net", "freetuts.net"));

    - Chuyển thành chữ hoa: toUpperCase()  và chữ thường: toLowerCase()
        var string = "Welcome to freetuts.net";
        document.write(string.toUpperCase() + "<br/>");
        document.write(string.toLowerCase());

    - Nối thêm chuỗi: dùng + hoặc concat()
        var string = "Welcome " + "to" + " freetuts.net";
        document.write(string + "<br/>");
         // hoặc
        var string = "Welcome ";
        string = string.concat("to ", "freetuts.net");
        document.write(string + "<br/>");

    - Tìm ký tự hoặc mã ASCII
        var string = "Welcome freetuts.net";
        document.write(string.charAt(1) + "<br/>");
        document.write(string.charCodeAt(1) + "<br/>");

    - Chuyển đổi chuỗi sang mảng
        string = "Welcome freetuts.net";
        // Tạo thành mảng với mỗi phần tử ngăn bởi khoảng trắng
        // kết quả là mảng có hai phần tử gồm: welcome và feetuts.net
        document.write(string.split(" ").length);

    - Cách lặp qua từng ký tự  
    let domain = "freetuts.net";
    for (var i = 0; i < domain.length; i++){
    console.log(domain[i]);

    3.mảng
    - Khai báo
    var name_array = new Array(1,2,3);
    // Hoặc
    var name_array = [1,2,3];

    - Truy xuất
var t = new Array(1,2,3);
alert(t[0]); // kết quả là 1
alert(t[1]); // kết quả là 2
alert(t[2]); // kết quả là 3

    - In mảng: join()
    var t = new Array(1,2,3);
document.write(t.join()); // kết quả 1,2,3
document.write(t.join('-')); // kết quả 1-2-3

- Sử dụng vòng lặp để duyệt mảng
+ For:
var name_array = [1,2,3];
for (var i = 0; i < name_array.length; i++){
    document.write(name_array[i]);
}

+ While:
var name_array = [1,2,3];
var index = 0;
while (index < name_array.length){
    document.write(name_array[index]);
    index++;
}

5.Mảng 2 chiều
- Khai báo
var numbers = [
    [5, 12, 17, 9, 3],
    [13, 4, 8, 14, 1],
    [9, 6, 3, 7, 21]
];
alert(numbers[1][2]); // In ra 8

- Lấy phần tử mảng hai chiều

- Thêm vào phần tử
+ Cuối mảng: push()
var numbers = [];
numbers.push([5, 12, 17, 9, 3]);
numbers.push([13, 4, 8, 14, 1]);
numbers.push([9, 6, 3, 7, 21]);
console.log(numbers);

+ Đầu mảng: unshift()
var numbers = [];
numbers.unshift([5, 12, 17, 9, 3]);
numbers.unshift([13, 4, 8, 14, 1]);
numbers.unshift([9, 6, 3, 7, 21]);
console.log(numbers);

- Duyệt mảng
var numbers = [
    [5, 12, 17, 9, 3],
    [13, 4, 8, 14, 1],
    [9, 6, 3, 7, 21]
];
 
// Lặp theo hàng
for (var i = 0; i < numbers.lenght; i++){
         // Lặp theo cột, số cộ từ 0 -> số lượng phần tử của hàng i
    for (var j = 0; j < numbers[i].length; j++){
        console.log(numbers[i][j]);
    }
}

6.Number
a.Thao tác
- Chuyển Number sang String: number.toString(type)
var myNumber = 128;
myNumber.toString(16);    // returns 80
myNumber.toString(8);      // returns 200
myNumber.toString(2);      // returns 10000000

- Số Infinity
- NaN - Not a Number
- Numbers - Objects

b.Các hàm xử lý
- Nhóm toàn cục:
Number(type) trả về một number và định dạng cơ số type = (nhị phân, thập phân, thập lục phân)
parseFloat() chuyển sang một số float
parseInt() chuyển sang một số integer

- Nhóm cục bộ:
toString() chuyển sang kiểu string
toFixed(n) chuyển sang số có n số lẻ ở đằng sau
toPrecision(n) chuyển sang số có chiều dài là n
valueOf() lấy giá trị của biến hoặc một giá trị nào đó

7. Date 
a. Đối tượng Date
// Cách 1
var timeObj = new Date();
var timeObj = new Date(value);
var timeObj = new Date(dateString);
 // Cách 2
var timeObj = new Date(year, monthIndex);
var timeObj = new Date(year, monthIndex, day);
var timeObj = new Date(year, monthIndex, day, hours);
var timeObj = new Date(year, monthIndex, day, hours, minutes);
var timeObj = new Date(year, monthIndex, day, hours, minutes, seconds);
var timeObj = new Date(year, monthIndex, day, hours, minutes, seconds, milliseconds);

- Cách thứ nhất: Truyền vào tham số là chuỗi hoặc một giá trị.
+ Nếu bạn không truyền tham số nào vào thì nó sẽ trả về ngày giờ hiện tại, tức là ngay thời điểm chạy lệnh.
+ dateString là một chuỗi định dạng ngày tháng cần lấy.
+ value cũng có thể là một dãy số được chuyển từ ngày giờ cần lấy sang miliseconds

- Cách thứ hai: Nó có tối đa là 7 tham số truyền vào:
+ year là năm cần lấy
+ monthIndex là tháng cần lấy
+ day là ngày trong tháng cần lấy
+ hours là giờ cần lấy
+ minuites là phút cần lấy
+ seconds là giây cần lấy

b.Định dạng(format)
- ISO 
var ISO_1 = new Date("2014-11-20");
- Long
var LONG_1 = new Date("Mar 25 2015");
- Short
var SHORT_1 = new Date("03-25-2015");
- Đầy đủ
var d = new Date("Wed Mar 25 2015 09:56:24 GMT+0100 (W. Europe Standard Time)");

c.Date javascript format dd/mm/yyyy
function getDDMMYYY(dateString) {
    var dateParts = dateString.split("/");
     // Tháng bắt đầu từ 0 nên ta phải giảm đi 1: dataParts[1] - 1
    return new Date(+dateParts[2], dateParts[1] - 1, +dateParts[0]); 
}
getDDMMYYYY('23/10/2015');

8.Xử lý ngày tháng
a.Các hàm nhóm Date Get
getDate() lấy ngày (1 - 31)
getDay() lấy ngày trong tuần (0-6)
getFullYear() lấy năm đầy đủ (YYYY)
getYear() lấy năm 2 số cuối (YY)
getHours() lấy số giờ (0 - 23)
getMiliSeconds() lấy số mili giây (0 - 999)
getMinutes() lấy số phút (0 - 59)
getMonth() lấy tháng (0 - 11)
getSeconds() lấy số giây (0 - 59)
getTime() thời gian đã được convert sang dạng miliseconds.

b. Các hàm nhóm Date Set: (trừ hàm getDay())
setDate() thiết lập ngày (1 - 31)
setFullYear() thiết lập năm đầy đủ (YYYY)
setYear() thiết lậpnăm 2 số cuối (YY)
setHours() thiết lập số giờ (0 - 23)
setMiliSeconds() thiết lập số mili giây (0 - 999)
setMinutes() thiết lập số phút (0 - 59)
setMonth() thiết lập tháng (0 - 11)
setSeconds() thiết lập số giây (0 - 59)
setTime() thiết lập thời gian đã được convert sang dạng miliseconds.

c.Tạo đồng hồ online bằng hàm date
<!DOCTYPE html>
<html>
    <head>
        <script>
          // Hàm khởi tạo đồng hồ
          function startTime()
          {
                         }
                     // Hàm này có tác dụng chuyển những số bé hơn 10 thành dạng 01, 02, 03, ...
          function checkTime(i)
          {
                         }
        </script>
    </head>
    <body onload="startTime()">
 
        <div id="timer"></div>
 
    </body>
</html>
 
- Hàm checkTime()
// Hàm này có tác dụng chuyển những số bé hơn 10 thành dạng 01, 02, 03, ...
function checkTime(i) 
{
    if (i < 10) {
        i = "0" + i;
    }
    return i;
}

- Hàm startTime()
// Hàm khởi tạo đồng hồ
function startTime() 
{
    // Lấy Object ngày hiện tại
    var today = new Date();
     // Giờ, phút, giây hiện tại
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
     // Chuyển đổi sang dạng 01, 02, 03
    m = checkTime(m);
    s = checkTime(s);
     // Ghi ra trình duyệt
    document.getElementById('timer').innerHTML = h + ":" + m + ":" + s;
     // Dùng hàm setTimeout để thiết lập gọi lại 0.5 giây / lần
    var t = setTimeout(function() {
        startTime();
    }, 500);
}

9. Typeof (Kiểm tra kiểu dữ liệu của biến)
- Cú pháp: var x = typeof value;
var number = 12;
var string = "12";
var object = new Number();
 document.write("number: " + typeof number + "<br/>");
document.write("string: " + typeof string + "<br/>");
document.write("object: " + typeof object + "<br/>");

- Giá trị null là một object nên khi kết hợp với từ khóa typeof thì nó sẽ trả về giá trị "object".
console.log(typeof null === 'object'); // true
console.log(typeof null === 'null'); // false





<scpript/>

