<script>
    1.object
    - Cú pháp khởi tạo
    Cách 1: Sử dụng từ khóa new Object()
    var Comment = new Object();

    Cách 2: Sử dụng từ khóa {}
    var Comment = {};

    - Thuộc tính: 
    // Khởi tạo
    var Comment = {};
     // Thêm thuộc tính
    Comment.title = '';
    Comment.content = '';
    Comment.fullname = '';
    Comment.email = '';

    - Phương thức
    // Khởi tạo
    var Comment = {
    addComment : function(){
        // do some thing
    },
    validateComment : function(){
        // do some thing
    }
    };

    - Thao tác với thuộc tính
    + Gán giá trị 
    Comment.title = "Tiêu đề bình luận";
    + Lấy giá trị 
    var title = this.title;
    + Xóa
    delete Comment.title;

    - Gọi phương thức
    comment.addComment();

    - Object chứa object
    var Comment = {
    info : {
        title : "",
        content : "",
        email : "",
        fullname : ""
    }
    };

    - Mảng chứa object
    / Khởi tạo mảng
    var Comment = [{
    title   : "",
    content : "",
    email   : "",
    fullname : "" 
    };
    // Sử dụng
    Comment[0].title = "Tiêu đề bình luận";
    alert(Comment[0].title); 

    -  Lặp qua từng phần tử của object 
    for (key in object) {
    // key chính là phần tử trong quá trình lặp
    }
    
    + ví dụ:
    let user = {
    name: "John",
    age: 30,
    isAdmin: true
    };
    for (let key in user) {
    console.log(`Key ${key} có giá trị là ${user[key]}`);
    }

    2.Thao tác với object

    <script language="javascript">

var Student = {
    data : [],
    viewStudent : function(){
        // Lấy danh sách sinh viên
        var listStudent = this.data;

        // Lặp và hiển thị sinh viên
        for(var i = 0; i < listStudent.length; i++){
            document.write("<div>" + listStudent[i].id + "|" + listStudent[i].name + "|" + listStudent[i].email + "</div>");
        }
    },
    addStudent : function(id, name, email){
        // Tạo thông tin sinh viên
        var item = {
            id : id,
            name : name,
            email : email
        };

        //Thêm sinh viên
        this.data.push(item);
    },
    removeStudent : function(id){
        // Lặp qua sinh viên để tìm kiếm và xóa
        for(var i = 0; i < this.data.length; i++){
            if (this.data[i].id === id) { // nếu là sinh viên cần xóa
                this.data.splice(i, 1); // thì xóa
            }
        }
    },
    editStudent : function(id, name, email){
        // Tìm sinh viên cần edit
        for(var i = 0; i < this.data.length; i++){
            // nếu là sinh viên cần edit thì thực hiện edit
            if (this.data[i].id === id) { 
                this.data[i].name = name;
                this.data[i].email = email;
            }
        }
    }
};

document.write('<h4>Danh sách sinh viên ban đầu</h4>');
Student.viewStudent();

document.write('<h4>Danh sách sinh viên sau khi thêm hai sinh viên</h4>');
Student.addStudent("sv001", 'Nguyễn Văn Cường', "thehalfheart@gmail.com");
Student.addStudent("sv002", 'Vũ Thị Thu Tình', "freetuts.net@gmail.com");
Student.viewStudent();

document.write('<h4>Danh sách sinh viên sau khi xóa một sinh viên</h4>');
Student.removeStudent('sv001');
Student.viewStudent();

document.write('<h4>Danh sách sinh viên sau khi sửa thông tin</h4>');
Student.editStudent('sv002', "Tên Sinh Viên Mới", "mrcuong.winter@gmail.com");
Student.viewStudent();

</script>

    3. Object Prototype - nguyên mẫu
    // Tạo mới đối tượng Number
    var age = new Number(12);
     // Lúc này sẽ sử dụng được các phương thức
    age.toString();
    age.toFixed();
    age.toPrecision();
    age.valueOf();

    - Thêm thuộc tính và phương thức vào prototype: ObjectName.prototype.property_name = data;
    + Thêm thuộc tính:
    Number.prototype.count = 0;
    let age = new Number(12);
    console.log(age);

    + Thêm phương thức
    // Tạo đối tượng
    Number.prototype.plus = function(value){
    return this.valueOf() + parseInt(value);
    };
    // Tạo mới đối tượng
    var age = new Number(12);
    document.write(age.plus(12) + "<br/>");
    // Tạo đối tượng khác
    var year = 2014;
    document.write(year.plus(12));

    - Prototype trong object và function
    function Person(){
         // Thuộc tính
     this.name = "";
     this.email = "";
     this.address = "";
      
     // Phương thức
     this.showInfo = function(){
         documenet.write("Tên là: " + this.name + "<br/>");
         documenet.write("Email là: " + this.email + "<br/>");
         documenet.write("Địa chỉ là: " + this.address + "<br/>");
      };
    }  

    -  Prototype trong class
    class Student{
    constructor(name, age){
        this.name = name;
        this.age = age;
    }
         showInfor(){
        console.log(`Tên sinh viên là ${this.name}`);
        console.log(`Tuổi sinh viên là ${this.age}`);
    }
    }
    let student = new Student("Cường", 32);
    console.log(student);
    





</script>