<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Lắng nghe sự kiện -->
    <!-- Chúng ta có thể dùng directive v-on để lắng nghe các sự kiện DOM 
        và thực thi JavaScript khi những sự kiện này được kích hoạt. -->
        <div id="example-1">
            <button v-on:click="counter += 1">Đếm cừu</button>
            <p>{{ counter }} con cừu.</p>
        </div>

<!-- Phương thức xử lí sự kiện -->
    <!-- Trong thực tế, logic để xử lí sự kiện thường phức tạp hơn, 
        vì thế chứa JavaScript trực tiếp trong giá trị của thuộc tính v-on như trên là không khả thi -->
        <div id="example-2">
            <!-- `greet` là tên của phương thức bạn muốn gọi -->
            <button v-on:click="greet">Chào mừng</button>
        </div>

<!-- Gọi phương thức inline -->
    <!-- Thay vì bind trực tiếp tên phương thức, ta cũng có thể gọi phương thức trong một câu lệnh JavaScript -->
        <div id="example-3">
            <button v-on:click="say('Konica')">Hãy nói Konica</button>
            <button v-on:click="say('Viettel')">Hãy nói theo cách của bạn</button>
            <button v-on:click="warn('Chưa submit được form.', $event)">Submit</button>
        </div>

<!-- Event modifier -->
        <!-- Sự kiện click sẽ không được propagate (lan truyền)
            điều này tương đương với event.stopPropagation() -->
            <a v-on:click.stop="doThis"></a>

        <!-- Sự kiện submit sẽ không reload trang
            điều này tương đương với event.preventDefault() -->
            <form v-on:submit.prevent="onSubmit"></form>

        <!-- Ta có thể nối modifier với nhau -->
            <a v-on:click.stop.prevent="doThat"></a>

        <!-- chỉ có modifier, không có phương thức xử lí -->
            <form v-on:submit.prevent></form>

        <!-- Dùng "capture mode" khi thêm event listener
            nghĩa là một sự kiện xảy ra với một phần tử bên trong sẽ được xử lí ở đây
            trước khi được xử lí bởi phần tử đó -->
            <div v-on:click.capture="doThis"></div>

        <!-- Chỉ kích hoạt phương thức xử lí nếu event.target là chính phần tử được click,
            chứ không phải là một phần tử con -->
            <div v-on:click.self="doThat"></div>
        
        <!-- sự kiện click sẽ chỉ được kích hoạt tối đa một lần -->
            <a v-on:click.once="donateKidney"></a>
        
        <!-- hành vi mặc định của sự kiện scroll (cuộn trang) sẽ xảy ra 
            ngay lập tức, thay vì đợi `onScroll` hoàn tất. -->
            <div v-on:scroll.passive="onScroll"></div>

<!-- Key modifier -->
    <!-- chỉ gọi vm.submit() khi keyCode là 13 (phím Enter) -->
    <input v-on:keyup.13="submit">

    <!-- như trên -->
    <input v-on:keyup.enter="submit">

    <!-- cũng hoạt động với cách viết tắt của v-on -->
    <input @keyup.enter="submit">

    <!-- Key modifier tự động -->
    <input @keyup.page-down="onPageDown">


<!-- Các phím modifier hệ thống -->
    <!-- Alt + C -->
    <input @keyup.alt.67="clear">

    <!-- Cmd + Click -->
    <div @click.meta="openNewTab">Mở tab mới</div>

    <!-- onClick vẫn sẽ được gọi nếu người dùng nhấn thêm phím Alt hoặc Shift -->
    <button @click.ctrl="onClick">A</button>

    <!-- onClick chỉ được gọi nếu chỉ phím Ctrl được nhấn -->
    <button @click.ctrl.exact="onCtrlClick">A</button>

    <!-- this will only fire when no system modifiers are pressed -->
    <button @click.exact="onClick">A</button>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src="./main.js"></script>
</html>