<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Computed property -->
    <div id="example">
        <p>Thông điệp ban đầu: "{{ message }}"</p>
        <p>Thông điệp bị đảo ngược bằng tính toán (computed): "{{ reversedMessage }}"</p>
        <p>Thông điệp bị đảo ngược: "{{ reverseMessage() }}"</p>
    </div>

    <div id="demo">{{ fullName }}</div>
    <!-- Watcher -->
    <div id="watch-example">
        <p>
            Hãy hỏi một câu hỏi yes/no:
            <input v-model="question">
        </p>
        <p>{{ answer }}</p>
    </div>

    <script>
        var watchExampleVM = new Vue({
          el: '#watch-example',
          data: {
            question: '',
            answer: 'Không thể trả lời nếu bạn chưa đặt câu hỏi!'
          },
          watch: {
            // bất cứ lúc nào câu hỏi thay đổi, hàm bên dưới sẽ chạy
            question: function (newQuestion, oldQuestion) {
              this.answer = 'Đang chờ bạn đặt xong câu hỏi...'
              this.getAnswer()
            }
          },
          methods: {
            // _.debounce là một hàm do Lodash cung cấp
            // Để tìm hiểu rõ hơn cách hoạt động của hàm này,
            // bạn có thể truy cập: https://lodash.com/docs#debounce 
            getAnswer: _.debounce(
              function () {
                if (this.question.indexOf('?') === -1) {
                  this.answer = 'Câu hỏi thì thường chứa một dấu "?" ;-)'
                  return
                }
                this.answer = 'Đang suy nghĩ...'
                var vm = this
                axios.get('https://yesno.wtf/api')
                  .then(function (response) {
                    vm.answer = _.capitalize(response.data.answer)
                  })
                  .catch(function (error) {
                    vm.answer = 'Lỗi! Không thể truy cập API. ' + error
                  })
              },
              // Đây là thời gian (đơn vị mili giây) chúng ta đợi người dùng dừng gõ.
              500
            )
          }
        })
        </script>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src="./main.js"></script>
</html>