<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Accessing the Parent Component Instance -->
    <google-map>
        <google-map-region v-bind:shape="cityBoundaries">
          <google-map-markers v-bind:places="iceCreamShops"></google-map-markers>
        </google-map-region>
      </google-map>

      <!-- Accessing Child Component Instances & Child Elements -->
      <base-input ref="usernameInput"></base-input>

      <input ref="input">

      <!-- Dependency Injection -->
      <google-map id = "ggmap">
        <google-map-region v-bind:shape="cityBoundaries">
          <google-map-markers v-bind:places="iceCreamShops"></google-map-markers>
        </google-map-region>
      </google-map>

      <!--Circular References-->
      <!-- Circular References Between Components-->
      <ul>
        <li v-for="child in children">
          <tree-folder v-if="child.children" :folder="child"/>
          <span v-else>{{ child.name }}</span>
        </li>
      </ul>
      
      <!-- Alternate Template Definitions -->
      <my-component inline-template>
        <div>
          <p>These are compiled as the component's own template.</p>
          <p>Not parent's transclusion content.</p>
        </div>
      </my-component>

      <!-- X-Templates -->
      <script type="text/x-template" id="hello-world-template">
        <p>Hello hello hello</p>
      </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/HandlingEdgeCases.js"></script>
</body>
</html>