<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Components Bascis</title>
</head>
<body>
    <!-- Components-Basic -->
    <div id="components-demo">
        <button-counter></button-counter>
      </div>
      
      
    <!-- Truyền dữ liệu xuống components con bằng pop  -->
   <div id="blog-post">
     <blog-post title="Giới thiệu về Vue"></blog-post>
    <blog-post title="Các khái niệm trong Vue"></blog-post>
    <blog-post title="Vue căn bản và vô cùng nâng cao"></blog-post> 
     <blog-post 
    v-for = "post in posts"
    v-bind:key = "post.id"
    v-bind:title = "post.title"
    ></blog-post>
   </div> 


   <!-- Một phần tử gốc đơn lập -->
   <div class="blog-post">
    <h3>{{ post.title }}</h3>
    <div v-html="post.content"></div>
  </div> 

   <!--Gửi thông tin đến đối tượng cha bằng sự kiện  -->
   <div id="blog-posts-events-demo">
       
    <div :style="{ fontSize: postFontSize + 'em' }">
        <button v-on:click="$emit('enlarge-text', 0.1)">
            Phóng to
          </button>
      <blog-post
        v-for="post in posts"
        v-bind:key="post.id"
        v-bind:post="post"
        v-on:enlarge-text="postFontSize += 0.1"
        v-on:enlarge-text="postFontSize += $event"
      ></blog-post>
    </div>
  </div>

  <!-- Sử dụng V-model với component   -->
  <custom-input v-model="searchText"></custom-input>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./js/main.js"></script>
</body>
</html>