<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Slot Content -->
    <navigation-link url="/profile">
        <!-- Use a component to add an icon -->
        <font-awesome-icon name="user"></font-awesome-icon>
        Your Profile
      </navigation-link>

    <!-- Named Slots -->
    <div class="container">
        <header>
          <h1>Here might be a page title</h1>
        </header>
        <main>
          <p>A paragraph for the main content.</p>
          <p>And another one.</p>
        </main>
        <footer>
          <p>Here's some contact info</p>
        </footer>
      </div>

      <!-- Default Slot Content -->
      <navigation-link url="/profile">
        Logged in as {{ user.name }}
      </navigation-link>

      <!-- Scoped Slots -->
      <todo-list v-bind:todos="todos">
        <!-- Define `slotProps` as the name of our slot scope -->
        <template slot-scope="slotProps">
          <!-- Define a custom template for todo items, using -->
          <!-- `slotProps` to customize each todo.            -->
          <span v-if="slotProps.todo.isComplete">✓</span>
          {{ slotProps.todo.text }}
        </template>
      </todo-list>

      <!-- Destructuring slot-scope -->
      <todo-list v-bind:todos="todos">
        <template slot-scope="{ todo }">
          <span v-if="todo.isComplete">✓</span>
          {{ todo.text }}
        </template>
      </todo-list>

      <!--  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/Slots.js"></script>
</body>
</html>