* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-no__border {
    border: 1px;
    background-color: #fff;
}

/* .header {
    height: 200px;
    background-color: rgb(6, 6, 118);
    position: relative;
} */

.card {
    min-width: 1520px;
}

.card-des {
    font-size: 20px;
}

.card-label {
    font-size: 16px;
}

.container {
    position: absolute;
    top: 8px;
    right: 0;
    left: -410px;

}
.card-body__border {
    border: 1px  ;
    padding: 8px;
    background-color: rgb(233, 228, 228);
    border-radius: 3px;
}

.card-label {
    margin-right: 12px;
}

.card-compartment {
    font-size: 24px;
}

.input-date {
    margin: 0 8px;
}

.input-group {
    margin-left: 26px;
}
/* .icon {
    color: #333;
    font-size: 12px;
} */

.form-inline .input-group {
    width: 70px;
    border: 3px solid #333;
}
.form-inline .input-last,
.form-inline .input-group .input-last,
.form-inline .input-disabled-2 {
    width: 80px;
}
.input-last {
    margin-left: 16px;
}


.form-inline .input-disabled-0,
.form-inline .input-disabled-01,
.form-inline .input-disabled-2{
    border: 1px solid #999;
}
.form-inline .input-disabled-01 {
    width: 280px;
}

.icon-card {
    font-size: 30px;
}

.form-inline__two {
    flex-flow:  nowrap;
}

.form-inline label {
    margin: 0 12px;
}

.form-inline .input-two {
    width: 50px;
    border: 3px solid #333;
}

.form-inline .input-disabled-3 {
    width: 70px;
    border: 1px solid #999;
}

.input-disabled-4 {
    width: 300px;
    border: 1px solid #999;
}

.input-group__three {
    margin-left: 46px;
}

.input-group__four {
    margin-left: 26px;
}
.input-group__four,
.input-group__four-2 {
    width: 155px;
    border: 1px;
}

.form-last__col-3,
.form-last__col-3-2 {
    padding: 8px;
}

.input-group__col-3 {
    width: 250px;
}

.form-inline .label-col-3 {
    padding-left: 8px;
}

.input-col-3 {
    margin-left: -7px;
}

.form-inline .input-table {
    width: 80px;
}

.form-inline .select-table {
    width: 70px;
    padding-left: 4px;
}

.table-no-border {
    border-color: #fff;
}
