<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- v-if -->
    <!-- Chỉ thị v-ifđược sử dụng để hiển thị một khối có điều kiện. Khối sẽ chỉ được hiển thị nếu biểu thức của chỉ thị trả về một giá trị trung thực. -->
    <h1 v-if="awesome">Vue is awesome!</h1>
    <!-- Cũng có thể thêm một “khối khác” với v-else: -->
    <h1 v-if="awesome">Vue is awesome!</h1>
    <h1 v-else>Oh no 😢</h1>

    <!-- Nhóm có điều kiện với v-ifbật<template></template> -->
    <template v-if="ok">
        <h1>Title</h1>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
      </template>

      <!-- v-else -->
      <!-- Bạn có thể sử dụng v-elsechỉ thị để chỉ ra một "khối khác" cho v-if: -->
      <div v-if="Math.random() > 0.5">
        Now you see me
      </div>
      <div v-else>
        Now you don't
      </div>

      <!-- v-else-if -->
      <!-- v-else-ifNhư tên cho thấy, đóng vai trò như một "khối nếu khác" cho v-if. Nó cũng có thể được xâu chuỗi nhiều lần: -->
      <div v-if="type === 'A'">
        A
      </div>
      <div v-else-if="type === 'B'">
        B
      </div>
      <div v-else-if="type === 'C'">
        C
      </div>
      <div v-else>
        Not A/B/C
      </div>

      <!-- Kiểm soát các phần tử có thể tái sử dụng vớikey -->
      <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username">
      </template>
      <template v-else>
        <label>Email</label>
        <input placeholder="Enter your email address">
      </template>

      <!-- v-show -->
      <h1 v-show="ok">Hello!</h1>
      <!-- v-showkhông hỗ trợ <template>phần tử, cũng như không hoạt động với v-else. -->

        <!-- v-if vs v-show -->
        <!-- Sử dụng v-ifvà v-forcùng nhau không được khuyến khích -->
       
        <!-- v-if với v-for -->
        <!-- Khi được sử dụng cùng với v-if, v-forcó mức độ ưu tiên cao hơn v-if -->

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src="./main.js"></script>
</html>