<template>
  <div>
    <BlogCreateEdit :listBlog="list"></BlogCreateEdit>
  </div>
</template>

<script>
import axios from 'axios'
import { BASE_URL } from '~/constants/constans.js'
import BlogCreateEdit from '~/components/blog/BlogCreateEdit.vue'
export default {
  components: { BlogCreateEdit },
  /**
   * Function Data
   * @return list
   */
  data() {
    return {
      list: [],
    }
  },
  computed: {
    /**
     * Computed BaseURL
     * @return BaseURL
     */
    BaseURL() {
      return BASE_URL
    },
  },

  /**
   * Function Mounted
   */
  mounted() {
    this.getList()
  },
  methods: {
    /**
     * Method  GetList
     */
    getList() {
      axios
        .get(`${BASE_URL}`)
        .then((res) => {
          this.list = res.data
          console.log(this.list, 'list')
        })
        .catch(function (error) {
          console.log(error)
        })
    },
  },
}
</script>
